astropy==8.0.1
astropy-iers-data==0.2026.9.28.0.59.37
bibtexparser==2.0.1
certifi==2026.7.22
cffi==2.1.1
charset-normalizer==3.5.2
click==8.5.0
contourpy==1.3.3
cryptography==50.0.2
cycler==0.12.1
dateparser==1.4.3
dqsegdb2==1.3.1
filelock==3.32.7
fonttools==4.66.1
gwdatafind==2.1.1
gwosc==0.8.3
gwpy==4.0.2
h5py==3.16.0
idna==3.20
igwn-auth-utils==1.4.0
igwn-ligolw==2.1.1
igwn-segments==2.1.1
inflection==0.5.1
juliacall==0.9.36
juliapkg==0.1.27
kiwisolver==1.5.1
lalsuite==7.26.15
ligotimegps==2.1.0
llvmlite==0.50.0
lscsoft-glue==4.1.1
matplotlib==3.11.2
numba==0.68.0
numexpr==2.14.2
numpy @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_numpy_1779169198/work/dist/numpy-2.4.6-cp311-cp311-linux_x86_64.whl#sha256=9f5ed645865bdd41eb671568973753a710fda708ed74e7a0b4acf98e7a7a2970
numpy-quaternion==2024.0.13
packaging @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_packaging_1785888127/work
pandas==3.0.6
pillow==12.3.0
pycparser==3.0
pyerfa==2.0.1.5
pygsl_lite @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_pygsl_lite_1776176160/work
PyJWT==2.15.1
pylatexenc==2.11
pyparsing==3.3.3
pyseobnr==0.3.7
python-dateutil==2.9.0.post0
pytz==2026.4
PyYAML==6.0.3
qnm==0.4.4
quaternionic==1.0.18
regex==2026.9.29
requests==2.34.2
safe-netrc==1.0.1
scipy==1.17.1
scitokens==1.9.7
scri==2024.0.14
semver==3.1.0
six==1.17.0
spherical==1.1.4
spherical-functions==2023.0.2
spinsfast==2022.4.11
sxs==2026.0.0
sxscatalog==3.0.30
tenacity==9.1.4
tomli==2.4.1
tomlkit==0.15.1
tqdm==4.70.1
tzlocal==5.4.4
urllib3==2.8.0
